# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = unset
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

[*.{xml,config,nuspec,csproj,props,targets,ps1}]
indent_size = 2

[*.{sh}]
end_of_line = lf

[*.{dotsettings}]
end_of_line = lf
